/* AddList.html */
body{
  background: rgba(248, 225, 23, 0.24); 
  margin: 0 auto;
}

.list-input-content{
  position: absolute;
  top: 133px;
  left: 48px;
  width: 277px;
  height: 305px;
  background: #FFFF66;
}

.center-of-content{
  text-align: center;
  position: relative;
  top: 85px;
}

.center-of-content h3{
  margin-bottom: 4px;
}

.confirm-submit {
  color: black;
  font-size: 25px;
  float: right;
  margin-top: 10px; 
  width: 114px;
  height: 54px;
  background: #FEA827;
  border: 1px solid #FDF8C7;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 290px;
  left: 170px;
}

.list-jump-button{
  color: #FEA827;;
  font-size: 18px;
  width: 114px;
  height: 54px;
  background: rgba(248, 225, 23, 0.24);
  border: 1px solid #FEA827;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  margin-top: 10px; 
  position: absolute;
  top: 290px;
  left: 1px;
  text-decoration: none;
}

.list-jump-button span{
  display: block;
  text-align: center;
  position: relative;
  top: 12px;
}

/* List.php */
.title-and-lists{
  position: absolute;
  top: 30px;
  left: 100px;
}

.title-and-lists h3{
  display: inline-block;
  position: relative;
  left: 20px;
}

.addlist-jump-button {
  color: #FEA827;;
  font-size: 18px;
  width: 114px;
  height: 54px;
  background: rgba(248, 225, 23, 0.24);
  border: 1px solid #FEA827;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  margin-top: 10px; 
  position: absolute;
  top: 530px;
  left: 38px;
  text-decoration: none;
}

.addlist-jump-button span{
  display: block;
  text-align: center;
  position: relative;
  top: 12px;
}

.complete-submit {
  color: black;
  font-size: 25px;
  float: right;
  margin-top: 10px; 
  width: 114px;
  height: 54px;
  background: #FEA827;
  border: 1px solid #FDF8C7;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 530px;
  left: 223px;
}

/* ListDelete.php */
.confirmation-of-completion{
  position: absolute;
  top: 170px;
  left: 100px;
}

.back{
  color: black;
  font-size: 25px;
  width: 114px;
  height: 54px;
  background: #FEA827;
  border: 1px solid #FEA827;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  margin-top: 10px; 
  position: absolute;
  top: 530px;
  left: 38px;
  text-decoration: none;  
}

.ok{
  color: black;
  font-size: 25px;
  float: right;
  margin-top: 10px; 
  width: 114px;
  height: 54px;
  background: #FEA827;
  border: 1px solid #FDF8C7;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 530px;
  left: 223px;  
}